@model IEnumerable<CRMApplication.Models.NoteModel>

@{
    ViewBag.Title = "Select";
    CRMApplication.Models.CustomerModel cust = ViewBag.Customer as CRMApplication.Models.CustomerModel;
}

<h2>Notes for <B>@cust.FullName</B></h2>


<p>
    @Html.ActionLink("Create Note", "CreateNote", new { id=cust.CustomerId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoteBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoteBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NoteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NoteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NoteId })
        </td>*@
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
